/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap');

/* Asterisks to override default styles set by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #18251b;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffcd00;
}

/* Main content */
main {
    background-color: #f5f4f6;
    /* Make main take take up any surplus space */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #2b60ca;
}