/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,300;0,6..72,500;0,6..72,600;1,6..72,300&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #18251b;
    font-family: 'Newsreader', sans-serif;
}

/* Header */
header {
    background-color: #ffcd00;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #18251b;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Newsreader', sans-serif;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Newsreader', sans-serif;
}

#menu {
    font-size: 115%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: .5em;
}

.active {
    border-bottom: 1px solid #18251b;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffcd00;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #18251b;
    display: none;
    top: 100%;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 1.5rem;
}

/* Main content */
main {
    background-color: #f5f4f6;
    /* Make main take take up any surplus space */
    flex: 1 0 auto;
    margin-top: 68px;
}

/* Footer */
footer {
    background-color: #2b60ca;
}

/* Media query: phones and larger (365px and up) */
@media screen and (min-width: 365px) {
    /* Main content */
    main {
        margin-top: 38px;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}